@require 'variables'

html,body
    margin 0
    padding 0
    font-family 'Poiret One', cursive

.outspace
    background-color clr_background
    height 100vh
    width 100vw
    position relative
    display flex
    justify-content center
    align-items center 

.tetris-area
    background-color clr_dark-green
    width 600px
    height 500px
    border-radius 30px
    display grid
    grid-template-columns 3fr 2fr
    box-shadow 13px 11px 106px rgba(0, 0, 0, 0.13)

.game-area
    padding 20px 20px
    background-color transparent;
    

.tetris-grid
    background-color clr_background
    height 100%
    border-radius 20px
    display grid
    grid-template-columns repeat(10,1fr)
    grid-template-rows repeat(15,1fr)
    overflow hidden

.tetris-cell
    border 2px solid clr_background
    border-radius 5px

.tetris-cell-yellow
    background-color #efd3d7


.next-figure
    padding 20px
    display flex
    flex-direction column
    align-items center

.next-figure-caption
    font-size 1.4em
    margin 0 0 20px 0
    text-align center

.next-figure-view
    width 100px;
    height 100px;
    border-radius 20px
    background-color clr_background



